  <div class="main-container">
            <footer class="space--sm footer-1 text-center-xs bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <!-- <ul class="social-list list-inline list--hover">
                                <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                            </ul> -->
                            <!-- <a href="mailto:donors@keetro.org" class="btn type--uppercase"> <span class="btn__text">
                        Make a Donation
                    </span> </a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"> <span class="type--fine-print">© <span class="update-year">2019</span> Keetro Business League</span> <a class="type--fine-print" href="https://www.keetro.org/privacy.html">Privacy Policy</a> <a class="type--fine-print" href="https://www.keetro.org/terms.html">Legal</a><a class="type--fine-print" href="https://www.keetro.org/about.html">About</a><br><sup>*</sup> Application for Tax Exemption (501c6 non-profit) is Pending</div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/scripts.js"></script>




<div class="container containerMeasure" style="opacity:0;pointer-events:none;"></div>

<script type="text/javascript">
_linkedin_partner_id = "1410876";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1410876&fmt=gif" />
</noscript>

<div class="container containerMeasure" style="opacity:0;pointer-events:none;"></div></body></html>
