---
layout: default
---
{% assign meta = page %}
{% include navbar.html %}
            <section class="space--sm bg--dark">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <p class="lead">{{ meta.highlights }}</p>
                            <p>{{ meta.more-detailed-explanations }}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="boxed boxed--lg boxed--border bg--secondary"> <img alt="image" src="{{ meta.about_images.right_sidebar }}" class="border--round"> </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="space--xxs bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature">
                                {{ meta.feature1 }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                {{ meta.feature2 }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                {{ meta.feature3 }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <h1>People</h1>
                        <p class="lead">Our advisors are industry experts when it comes to Marketing/Sales through Data and Automation</p>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-8">
                                <a target="_blank" href="https://outreach.io" style="width: 232px; height: 163px; left: 0px; background: rgb(255, 255, 255);">
                                <img alt="Pavel Dmitriev" src="https://keetro.club/uploads/pavel_dmitriev.png" style="width: 288px; height: 163px; margin-left: -37px; margin-right: -19px; margin-top: 0px;"/></a>
                                <h5>Pavel Dmitriev</h5>
                                <span>VP of Data Science, <a target="_blank" href="https://outreach.io">Outreach.io</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8">
                                 <a target="_blank" href="https://www.iointegration.com" style="width: 232px; height: 163px; left: 0px; background: rgb(255, 255, 255);"><img alt="Mike Holt IOIntegration" src="https://keetro.club/uploads/Mike_new__feature.jpg" style="width: 288px; height: 163px; margin-left: -37px; margin-right: -19px; margin-top: 0px;"></a>
                                <h5>Mike Holt</h5>
                                <span>CEO, <a target="_blank" href="https://www.iointegration.com">IOIntegration</a></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8">
                                 <a target="_blank" href="https://keetro.org" style="width: 232px; height: 163px; left: 0px; background: rgb(255, 255, 255);"><img alt="Segah Mir" src="https://keetro.club/uploads/segah_mir.jpeg" style=" height: 163px; margin-left: -37px; margin-right: -19px; margin-top: 0px;"></a>
                                <h5>Segah Mir</h5>
                                <span>Founder, <a target="_blank" href="https://keetro.org">Keetro&#8482; Business League</a></span>
                            </div>
                        </div>



                    </div>

                </div>
            </section>

