---
layout: default
---
{% assign meta = page %}
{% include navbar.html %}
            <section class="space--sm bg--dark">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <p class="lead">{{ meta.highlights }}</p>
                            <p>{{ meta.more-detailed-explanations }}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="boxed boxed--lg boxed--border bg--secondary"> <img alt="image" src="{{ meta.about_images.right_sidebar }}" class="border--round"> </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="space--xxs bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature">
                                {{ meta.feature1 }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                {{ meta.feature2 }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                {{ meta.feature3 }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
