---
layout: default
---
{% assign meta = page %}
        <div class="nav-container"> </div>
        <div class="main-container">
            <section class="cover height-80 imagebg text-center" data-overlay="7">
                <div class="background-image-holder"> <img alt="background" src="{{ meta.application_images.header }} "> </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8 col-lg-7">
                            <h1>{{ meta.header.title }}</h1>
                            <p class="lead">{{ meta.header.body }}</p>
                            <a class="btn btn--primary type--uppercase inner-link" href="{{ site.data.links.application }}" target="_self"> <span class="btn__text">
            {{ meta.header.cta }}</span> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <p class="lead"><u>
          Partnering with the Latest Technologies</u></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider slider--inline-arrows slider--arrows-hover text-center" data-arrows="true">
                                <ul class="slides">
                                           {%  for product in meta.partners  %}
                                    <li class="col-md-3 col-6"> <img alt="{{ product.title }}" class="image--xxs" src="{{ product.link }}"> </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large bg--secondary space--xs text-justify">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 col-md-4">
                            <div class="switchable__text">
                                <h2><u>Why join us?</u></h2>
                                <p class="lead">{{ meta.why-join.main }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="feature feature-2"> <i class="icon color--primary icon-Dollar-Sign"></i>
                                    <div class="feature__body">
                                        <h5>{{ meta.why-join.sidebar.one.title }}</h5>
                                        <p>{{ meta.why-join.sidebar.one.body }}</p>
                                    </div>
                                </div>
                                <div class="feature feature-2"> <i class="icon color--primary icon-Add-User"></i>
                                    <div class="feature__body">
                                        <h5>{{ meta.why-join.sidebar.two.title }}</h5>
                                        <p>{{ meta.why-join.sidebar.two.body }}</p>
                                    </div>
                                </div>
                                <div class="feature feature-2"> <i class="icon color--primary icon-Clock-Back"></i>
                                    <div class="feature__body">
                                        <h5>{{ meta.why-join.sidebar.three.title }}</h5>
                                        <p>{{ meta.why-join.sidebar.three.body }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="space--xxs">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="process-1">
                                 {%  for item in meta.process  %}
                                <div class="process__item">
                                    <h4>{{ item.name }}</h4>
                                    <p>{{ item.description }}</p>
                                </div>
                                {% endfor  %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="cover imagebg switchable height-80 switchable--switch parallax" data-overlay="9">
                <div class="background-image-holder"> <img alt="background" src="{{ meta.movie.bg-image }}"> </div>
                <div class="container pos-vertical-center">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 col-md-7">
                            <div class="switchable__text">
                                <h1>{{ meta.influencer.header}} </h1>
                                <p class="lead">{{ meta.influencer.body }}</p>
                                <a class="btn btn--primary type--uppercase" href="{{ site.data.links.home }}" target="_self"> <span class="btn__text">{{ meta.influencer.cta }}</span> </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-12">
                            <div class="video-cover border--round box-shadow-wide">

                                <div class="background-image-holder"> <img alt="Mike Holt" src="{{ meta.movie.image }}"> </div>
                                <div class="video-play-icon"></div>
<iframe data-src="{{ meta.movie.link }}?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen></iframe></div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable space--xxs">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Join Keetro Club Today!</h2> <span>Already have an account? <a href="#">Sign In</a></span>
                                <hr class="short">
                                <form>
                                    <div class="row">
                                        <div class="col-12"> <input type="text" name="First Name" placeholder="Your Name"> </div>
                                        <div class="col-12"> <input type="email" name="Email Address" placeholder="Email Address"> </div>
                                        <div class="col-12"> <input type="password" name="Password" placeholder="Phone"> </div>
                                        <div class="col-12"> <input type="password" name="Password-confirm" placeholder="LinkedIn Url"> </div>
                                        <div class="col-12">
                                            <div class="input-checkbox"> <input type="checkbox" name="agree"> <label></label> </div> <span>Remember Me</span> </div>
                                        <div class="col-12"> <button type="submit" class="btn btn--primary">Start Application</button> </div>
                                        <hr>
                                        <div class="col-12"> <span class="type--fine-print">By signing up, you agree to the <a href="#">Terms of Service</a></span> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-8"> <img alt="Image" class="border--round box-shadow-shallow" src="{{ meta.application_images.pre-application }}"> </div>
                    </div>
                </div>
            </section>

