---
layout: default
---
{% assign meta = page %}
        <a id="start"></a>
        <div class="main-container">
            <section class="imageblock switchable feature-large height-100 ">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right" data-overlay="1">
                    <div class="background-image-holder" style="background: url(&quot;img/landing-sdrs.png&quot;); opacity: 1;">
                       <img alt="image" src="img/landing-sdrs.png" class="border--round">
                    </div>
<!--                      <div class="modal-instance">
                        <div class="video-play-icon modal-trigger"></div>
                        <div class="modal-container">
                            <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        </div>
                    </div> -->
                    <!--end of modal instance-->
                </div>
                <div class="container pos-vertical-center">
                    <div class="row ">
                        <div class="col-lg-5 col-md-7">
                            <h1>{{ meta.intro.header }}</h1>
                            <p class="lead">
    {{ meta.intro.description }}
                            </p>
                            <div class="bg--secondary boxed boxed--border">
                                <form action="pre-application-questionaire.html" method="get" data-error="Please provide your name and email address and agree to the terms.">
                                    <h6 class="type--uppercase">{{ meta.pre-application.name }}</h6>
                                    <input class="validate-required" type="text" name="name" placeholder="Your Name">
                                    <input class="validate-required validate-email" type="email" name="email" placeholder="Email Address">
                                    <div class="input-checkbox"><input class="validate-required" type="checkbox" name="group[13737][1]" id="input-assigned-0"><label for="input-assigned-0"></label></div>
                                    <span>I have read and agree to the
                                        <a target="_blank" href="https://www.keetro.org/terms.html">terms and conditions</a>
                                    </span>
                                    <button type="submit" class="btn btn--primary-1 type--uppercase">{{ meta.pre-application.cta }}</button>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{ meta.vendors.headline }}</h3>
                            <!-- <p class="lead">
                               Focus on your work without spending extra time figuring out your sales/marketing stack.
                            </p> -->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline list-inline--images">
                                <li>
                                    <img alt="Outreach.io" title="Outreach.io" src="img/partner-1.png">
                                </li>
                                <li>
                                    <img title="RocketReach Email Enrichment" src="img/partner-2.png">
                                </li>
                                <!-- <li>
                                    <img title="Mailshake Email Automation" src="img/partner-3.png">
                                </li> -->
                                <li>
                                    <img title="LinkedIn Sales Navigator" src="img/partner-4.png">
                                </li>
                                <li>
                                    <img title="Zapier" src="img/partner-5.png">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section><section class="text-center bg--secondary">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>{{ meta.midsection.headline }}</h2>
                            <p class="lead">{{ meta.midsection.description }}</p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>



<section class="">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <div class="process-1">
                                                <div class="process__item">
                                                    <h4>Fill Out the Questionaire
                                                        </h4>
                                                    <p>
                                                        We use this to evaluate whether the club is the right resource for you.
                                                    </p>
                                                </div>
                                                <div class="process__item">
                                                    <h4>Receive Membership Invitation
                                                        </h4>
                                                    <p>
                                                        Membership is by <b>Invitation Only</b> and requires a fee of $25 for processing and administration expenses (we are a <a target="_blank" href="https://keetro.org" style="white-space: nowrap">non-profit</a>).
                                                    </p>
                                                </div>
                                               <!--  <div class="process__item">
                                                    <h4>Get Admitted
                                                        </h4>
                                                    <p>
                                                         Join our Slack Team. Schedule a call with your assigned guidance leader. And start taking on paid marketing assignments.
                                                    </p>
                                                </div> -->
                                                <div class="process__item">
                                                    <h4>Build Relationships with Clients
                                                    </h4>
                                                    <p>
                                                        Continue learning new skills throughout your assignments. Build relationships with clients upon successful completion of each assignment.
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end process-->
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>

            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>{{ meta.advisors.headline }}</h2>
                            <p class="lead">{{ meta.advisors.explanation }} </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
<section class="text-center">
               <!--  <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-8">
                                <a target="_blank" href="https://outreach.io" style="width: 232px; height: 163px; left: 0px; background: rgb(255, 255, 255);">
                                <img alt="Pavel Dmitriev" src="img/pavel_dmitriev.jpeg" style="width: 288px; height: 163px; margin-left: -37px; margin-right: -19px; margin-top: 0px;"/></a>
                                <h5>Pavel Dmitriev</h5>
                                <span>VP of Data Science, <a target="_blank" href="https://outreach.io">Outreach.io</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8">
                                 <a target="_blank" href="https://www.iointegration.com" style="width: 232px; height: 163px; left: 0px; background: rgb(255, 255, 255);"><img alt="Mike Holt IOIntegration" src="img/mike_holt_iointegration.png" style="width: 288px; height: 163px; margin-left: -37px; margin-right: -19px; margin-top: 0px;"></a>
                                <h5>Mike Holt</h5>
                                <span>CEO, <a target="_blank" href="https://www.iointegration.com">IOIntegration</a></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8">
                                 <a target="_blank" href="https://keetro.org" style="width: 232px; height: 163px; left: 0px; background: rgb(255, 255, 255);"><img alt="Segah Mir" src="img/me.jpg" style=" height: 163px; margin-left: -37px; margin-right: -19px; margin-top: 0px;"></a>
                                <h5>Segah Mir</h5>
                                <span>Founder, <a target="_blank" href="https://keetro.org">Keetro&#8482; Business League</a></span>
                            </div>
                        </div>



                    </div>

                </div> -->

            </section>
            <section class="switchable feature-large ">
                                <div class="container">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-md-6 col-lg-5">
                                            <div class="switchable__text">
                                                <h2 class="name">Mike Holt</h2>
                                                <span class="advisor-title">CEO, <b>IO Integration</b>, Tripple World Champion (505 Racing)</span>
                                                <br><br>
                                                <p class="lead"><i>
                                                    "I have been running a marketing automation firm for more than 20 years. One of the challenges for our new hires is learning all the modern skills and technologies. Keetro.club provides exactly that kind of training."</i>
                                                </p>
                                                <a target="_blank" href="https://www.youtube.com/watch?v=ZsmKeL66vko">Learn more about Mike from his many racing interviews</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder" style="background: url(&quot;img/Mike_Holt_Advisor.jpg&quot;); opacity: 1;">
                                                    <img alt="Mike Holt" src="img/Mike_Holt_Advisor.jpg">
                                                </div>
                                <div class="video-play-icon"></div> <iframe data-src="https://www.youtube.com/embed/PBGGfjamIMQ?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen></iframe> </div>
                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>
<!--
                            <section class="video video-1 text-center imagebg space--lg" data-overlay="3">
                <div class="background-image-holder" style="background: url(&quot;img/cowork-1.jpg&quot;); opacity: 1;">
                    <img alt="background" src="img/cowork-1.jpg">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-instance">
                                <div class="video-play-icon video-play-icon--sm modal-trigger box-shadow" data-modal-index="2"></div>


                            </div>

                            <h2>Watch Mike talk about the mission behind Keetro Club</h2>
                        </div>
                    </div>

                </div>
            </section> -->
            <section class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-block text-center">
                                <h3>Recent Listings</h3>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <span class="label bg--primary-2">Part-time, Remote</span>
                                <h5>Big Data</h5>
                                <p>
                                    Event Marketer
                                </p>
                                <!-- <a href="#">
                                    View &amp; Apply
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <span class="label bg--primary-2">Part-time, Remote</span>
                                <h5>AI / ML</h5>
                                <p>
                                    Event Marketer
                                </p>
                                <!-- <a href="#">
                                    View &amp; Apply
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <span class="label bg--primary-2">Part-time, Remote</span>
                                <h5>Marketing Automation</h5>
                                <p>
                                    Event Marketer
                                </p>
                                <!-- <a href="#">
                                    View &amp; Apply
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        </div>
                    </div>
                    <!--end of row-->
                </section></div>
                <!--end of container-->

            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <h2>{{ meta.closing.headline }}</h2>
                                <p class="lead">{{ meta.closing.explanation }}</p>
                                <a class="btn btn--primary type--uppercase" href="pre-application-questionaire.html">
                                    <span class="btn__text">
                                        {{ meta.closing.cta }}
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
