---
layout: default
---

        <div class="nav-container">
            <div class="via-1575330070899" via="via-1575330070899" vio="Keetro Club">
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <a href="index.html"> <img class="logo logo-dark" alt="logo" src="img/logo-dark.png"> <img class="logo logo-light" alt="logo" src="img/logo-light.png"> </a>
                            </div>
                            <div class="col-9 col-md-10 text-right">
                                <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 hidden-xs">
                                <div class="bar__module">
                                    <a href="index.html"> <img class="logo logo-dark" alt="logo" src="img/logo-dark.png"> <img class="logo logo-light" alt="logo" src="img/logo-light.png"> </a>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li class="dropdown"> <span class="dropdown__trigger">Advisors&nbsp;</span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content col-lg-2">
                                                            <ul class="menu-vertical">
                                                                <li> <a href="#https://www.youtube.com/watch?v=ZsmKeL66vko" class="inner-link" target="_self">Mike Holt</a> </li>
                                                                <li> <a href="#https://www.mirdata.report/" class="inner-link" target="_self">Segah Mir</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown"> <span class="dropdown__trigger">
                                        Keetro Club&nbsp;</span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content row w-100">
                                                            <div class="col-lg-3">
                                                                <h5><a href="https://keetro.club/">Keetro Club Mission Statement</a><br></h5>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <h5><a href="https://keetro.club/">Keetro Club Growth Associates</a><br></h5>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <h5><a href="https://keetro.club/">Why should you be a Growth Associate?</a></h5>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <h5><a href="https://keetro.club/">Application&nbsp;</a><br></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bar__module">
                                    <a class="btn btn--sm type--uppercase" href="#customise-template"> <span class="btn__text">
                                    Growth Associate Portal</span><span class="btn__text"> </span> </a>
                                    <a class="btn btn--sm btn--primary type--uppercase" href="#purchase-template"> <span class="btn__text">
                                    Become a member today</span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="main-container">
            <section class="imageblock switchable height-100 bg--dark">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder"> <img alt="image" src="file:///Users/NivedvIND/Downloads/arts-build-close-up-commerce-273230.jpg"> </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h1>Join Keetro Club Today!</h1>
                            <p class="lead"> Growth Associates are the frontline representatives of our organization and are an integral part of our elite marketing club. As a Growth Associate, you will engage industry professionals and win over prospects to attend networking events and conferences. Keetro Club is governed by a group of committed advisors who come from leadership positions in sales and marketing. They are all committed to seeing members flourish. </p>
                            <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
                        become a Keetro club member today</span> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="cover cover-features imagebg space--lg text-center" data-overlay="6">
                <div class="background-image-holder"> <img alt="background" src="file:///Users/NivedvIND/Downloads/two-women-having-conversation-on-stairs-1438084.jpg"> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7">
                            <h1> Keetro Club: An exclusive Marketing Collective</h1>
                            <p class="lead"> The breakdown of communication among professionals is a real issue in our society. And technology is not helping. Keetro Club is a Seattle based Non-Profit helping professionals initiate offline conversations. Our goal is to use technology to help resolve real societal issues. </p>
                            <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
                        Learn More about Keetro Club</span> </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border bg--white"> <i class="icon icon-Clock-Back color--primary"></i>
                                <div class="feature__body">
                                    <p> Help us propagate interpersonal conversations though inviting professionals to our events </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border bg--white"> <i class="icon color--primary icon-Add-UserStar"></i>
                                <div class="feature__body">
                                    <p> Grow your professional network through Keetro Club<br><br> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border bg--white"> <i class="icon color--primary icon-Handshake"></i>
                                <div class="feature__body">
                                    <p> Work alongside industry experts to grow and develop your skills.<br><br> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center space--xxs bg--primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <a class="btn btn--primary btn--lg type--uppercase" href="#purchase-template"> <span class="btn__text">
                            BECOME A MEMBER TODAY</span> </a>
                                <p class="lead"> Continue learning new skills throughout your assignments. Build relationships with clients upon successful completion of each assignment. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable space--xxs bg--secondary">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-5"> <img alt="Image" class="border--round box-shadow-wide" src="https://gm1.ggpht.com/6GlYpNeOk0bVLKUxgA3IOpI-tcW0UvJm6rlyu03Xjn4jqC7NxlhitjZ4sonuF0z-SY4p8WvUd6NG6OloD-_pJMEcYX59oscBiJc-J73xRhMyhxtKLX2Z8NMK0MIrw7ma0C6OggH2S3apGO8oDTC9IqgWzsA39GuvdQ4QejHbNBBoa7TXB9WhE3InJrx_hil2eIJ-YPvJDf_bf-5a2eWDWP5LcrOVYFBVIjrYLk04tPup3OtpTjo6LXOpW2-4tmx1YbTswjatTprcuJnDyqyzigRhK_BfpcWoQ9fi1J4sWwDX3hxk646A01Pxdy9XADDnYW_GgXqWOxIF2lhsdZzV_cW2agAsIxuGkWlvexHJ7epYKpIEO6a75qhqINHSCl6c6j-vZKniUfuinCEfV9PNbKZ2Vp7R8nhXQqPf-KWfocgtBrG6YmWm_xB-TNQ1kRL0CckDFKgiJmBKQt6hKGFI20AUJCYlSVGLoEGVrPK9p9e6XN9qnpPjGqbt3rAnGG52Y728rBB8wVjOPse6VUZE37nBgW5yC2i2ULYGsOAcXebWVIyKen8fCS2hcSCQFGYodxhTNxoS7bMUbkbpiEkNXRAva5SPSgPyaG5PMAI8fDlXaQK2ZjPCFRLt9ar4cH-2V1lL8HU98qgNwyKfEjOpUn-MhefawAstSvpfFtensinPRnA1tpBjuXOSXYRlrF7_rE8dD0U9DpHhThTMI4ZH-D4TanMs-_EQKdbDwsXzKeLnY2g967W2tv0z3UjH=s0-l75-ft-l75-ft"> </div>
                        <div class="col-md-6">
                            <div class="row mx-0 switchable__text flex-column">
                                <p class="lead"> Got what it takes to win over prospects?&nbsp; Can you convince almost anyone to attend a meeting?&nbsp; Great, we would love to hear from you!&nbsp;</p>
                                <hr class="short">
                                <form class="form-email row" data-success="Thanks for your enquiry, please fill out the form to continue onto the Application." data-error="Please fill in all fields correctly.">
                                    <div class="col-md-6"> <label>Your Name:</label> <input type="text" name="name" class="validate-required"> </div>
                                    <div class="col-md-6"> <label>Phone:&nbsp;</label> <input type="email" name="email" class="validate-required validate-email"> </div>
                                    <div class="col-md-12"> <label>Email:</label> <textarea rows="4" name="Message" class="validate-required"></textarea> </div>
                                    <div class="col-md-5 col-lg-4"> <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
