---
layout: default
---
{% assign meta = page %}
{% include navbar.html %}
        <div class="main-container">
            <section class="cover unpad--bottom switchable text-center-xs bg--dark">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6 col-lg-5 mt--3">
                            <h1>{{ meta.right-header }}</h1>
                            <p class="lead">{{ meta.right-content }}</p>
                            <a class="btn btn--primary type--uppercase" href="/application-process/" target="_self"> <span class="btn__text">
            {{ meta.right-cta }}&nbsp;</span> </a>
                        </div>
                        <div class="col-md-6"> <img alt="Image" src="{{meta.other_images.career_opp}}"> </div>
                    </div>
                </div>
            </section>
            <section class="text-center space--xxs bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            {{ meta.problem_outline }}
                        </div>
                    </div>
                </div>
            </section>
<section class="cover unpad--bottom switchable bg--secondary text-center-xs">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6 col-lg-5 mt--3">
                            {{ meta.sdr_skills }}
                        </div>
                        <div class="col-md-6"> <img alt="Image" src="{{ meta.other_images.sdr_skills }}"> </div>
                    </div>
                </div>
            </section>
            <section class="cover unpad--bottom switchable bg--secondary text-center-xs switchable--switch">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6 col-lg-5 mt--3">
                            {{ meta.growth_skills }}
                        </div>
                        <div class="col-md-6"> <img alt="Image" src="{{ meta.other_images.growth_skills }}"> </div>
                    </div>
                </div>
            </section>
            <section class="space--sm">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <article>
                                <div class="article__body"> <img alt="Image" src="{{ meta.other_images.funnel }}">
{{ meta.content }}
                                    </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
